# Carpetas generadas automáticamente por el bot
Sessions/
session/
session.data/
cache/
tmp/
temp/
tmp/
lib/Baileys-md/  # Si usa Baileys con generación dinámica

# Archivos temporales generados
*.session
*.store
*.data.json
*.store.json
*.txt

# Node modules
node_modules/

# Archivos de logs
*.log

# Archivos que no quieres subir nunca
database.json
*.json.tmp
